* {
	color: #767677;
	font-family: 'Ruda', sans-serif;
}

body {
	background: #111111 !important;
}

.container {
	margin: 10px;
	max-width: 720px;
	min-width: 440px;
	
}

#title {
	font-family: 'Bungee Inline', cursive;
}

#header {
	background: #171717;
	border-bottom: 1px solid #767677;
	margin: 0px;
}

.menu {
	padding: 10px;
}
.menu>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>ul>li {
    display: inline;
    padding: 20px;
}

.menu>ul>li a:hover {
	color: white;
}

.menu>ul>li a:focus {
	color: white;
}

.menu>ul>li a#online:focus {
	border-bottom: 2.5px solid #E62356;
}

.menu>ul>li a#offline:focus {
	border-bottom: 2.5px solid #25B4E5;
}

.menu>ul>li a#all:focus {
	border-bottom: 2.5px solid #712CDD;
}

.menu>ul>li a {
    color: #767677 ;
    text-decoration: none;
    padding: 11px;
}

.logo {
	width: 75px;
	border-radius: 50%;
}

#icon {
	text-align: center;
	margin: 10px 0px;
	/*padding: 20px 20px;*/
}

#display {
	background: #181818;
	margin-top: 0px;
	padding: 10px 0px 10px 10px;

}

#canal {
	background: #282828;
	margin: 20px 0px 20px 20px;
	border-radius: 75px 0px 0px 75px;
	/*max-height: 130px;*/
	border-right: 1px solid #767677;

}

#streaming {
	text-align: right;
	/*padding: 60px 10px;*/
}

#name {
	font-size: 15px;
	text-align: center;
	/*padding-top: 60px;*/
}

#name>a {
	color: #767677;
}

#name>a:hover {
	color: white;
	text-decoration: none;
}

.col-md-3 {
	padding-top: 40px; 
}

.col-md-7 {
	padding-top: 40px;
}







